<div class="container_16">
  <div class="grid_16">
    <h1>Editing carline</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @carline %> |
    <%= link_to 'Back', carlines_path %>
  </div>
</div>