/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 960_16_col
 *= require vw
 *= require vag_fonts
 */

div.container_16 {
    
}

div.lined {
  background: #fff url("/assets/16_col.gif") repeat-y;
}

body {
  background: #eee;
}

div.wrapper {
  background: #fff !important;
}

h1, h2, h3, h4 {
  font-family: vag_rounded_std_thinbold, Arial;
  margin: 0;
}

#header, #canvas, #navbar, #form {
  margin-top: 1em;
  display: block;
}

#canvas {
  height: 260px;
  background: #eee;
  background: left center no-repeat url("http://cc5.volkswagen.de/cc5/images/de-4.0/default_media_stage.jpg");
  border-left: solid 1px #CCCCD1;
  border-top: solid 1px #CCCCD1;
  border-right: solid 1px #CCCCD1;
  margin: -1px;
}


#form {
  margin: 1em 0;
  border-left: solid 1px #CCCCD1;
  border-bottom: solid 1px #CCCCD1;
  border-right: solid 1px #CCCCD1;
  margin: -1px;
  height: 300px;
}

.carline-chooser-cell {
  margin: 1em 0;
}

#navbar {
  border-left: solid 1px #CCCCD1;
  border-right: solid 1px #CCCCD1;
  margin: 0 -1px;
  height: 19px;
}

#navbar button {
  width: 100%;
  background: url();
}

li {
  margin-bottom: 1em;
}

header {
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
}