/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 960_16_col
 *= require vw
 */

div.container_16 {
    background: #fff url("/assets/16_col.gif") repeat-y;
}

body {
  background: #eee;
}

div.wrapper {
  background: #fff !important;
}

#canvas, #navbar, #form {
  /*margin: 0 -10px;*/
  margin-bottom: 2em;
}

#canvas {
  height: 260px;
  background: #eee;
  padding: 1em 0;
  background: left center no-repeat url("http://cc5.volkswagen.de/cc5/images/de-4.0/default_media_stage.jpg");
}


#form {
  margin: 1em 0;
}

li {
  margin-bottom: 1em;
}