/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 960_16_col
 *= require vw
 *= require vag_fonts
 */

div.container_16 {
    
}

div.lined {
  background: #fff url("/assets/16_col.gif") repeat-y;
}

body {
  background: #eee;
}

div.wrapper {
  background: #fff !important;
}

h1, h2, h3, h4 {
  font-family: vag_rounded_std_thinbold, Arial;
  margin: 11px 0;
}

h1, h2 {
  font-weight: bold;
}

ul.nav {
  display: block;
  float: left;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none outside none;
  line-height: 78px;
}

ul.nav li{
  margin-right: 1em;
  float: left;
}


#main {
  width: 962px;
  border: solid 1px #CCCCD1;
  margin: 0 auto;
}

#header, #canvas, #navbar, #form, #footer {
  display: block;
  padding: 1em 0;
}

#canvas-wrapper {
  /*background: #CCCCD1;*/
}

#canvas {
  height: 260px;
  background: left center no-repeat url("/assets/default_media_stage.jpg");
  position: static;
}

#canvas.empty {
  background: left center no-repeat url("/assets/linear_media_stage.jpg"); 
}

#model-description {
  font-size: 13px;
  height: 180px;
  overflow: auto;
}


#model-price {
  bottom: 22px;
  font-weight: bold;
  font-size: 13px;
}

#form {
  height: 300px;
}

.carline-chooser-cell {
  margin: 0 0 1em 0;
}

#navbar {
}

#navbar button {
  width: 100%;
  /*background: url();*/
}

#navbar button[disabled]{

}

li {
  margin-bottom: 1em;
}

header {
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
}