/* basic styles from the old site */

body, table, pre {
    color: #333333;
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
}
html, body, frameset, frame {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}
html, body, frameset, frame, table {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

a, a:active, a:hover {
    color: #2274AC;    
}

a img {
    border: 1px none #FFFFFF;
}

a:visited {
    text-decoration: none;
}