<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>

<% @car_options.each do |car_option| %>
  <tr>
    <td><%= check_box("car_option", "car_option") %><%= car_option.name %></td>
    <td><%= car_option.price %></td>
  </tr>
<% end %>
</table>