<% @carlines.each do |carline| %>
  <div class="grid_4">
    <p class="carline-chooser-cell">
      <%= link_to carline.title, carline %>
    </p>
    <!-- <%= carline.description %> -->
    <!-- <%= carline.price %> -->
  </div>
<% end %>