<% @carmodels.each do |carmodel| %>
  <div class="grid_4">
    <p class="carline-chooser-cell">
      <%= link_to carmodel.name, carmodel %>
    </p>
    <!-- <%= carmodel.description %> -->
    <!-- <%= carmodel.price %> -->
  </div>
<% end %>

<div class="grid_16">
  <script type="text/x-handlebars">
    {{ view Vwkonfigurator.CarModelView }}
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      window.car_models = Vwkonfigurator.store.findAll(Vwkonfigurator.CarModel);
    });
  </script>
</div>