<% @carlines.each do |carline| %>
  <div class="grid_4">
    <p class="carline-chooser-cell">
      <%= link_to carline.title, carline %>
    </p>
    <!-- <%= carline.description %> -->
    <!-- <%= carline.price %> -->
  </div>
<% end %>

<div class="grid_16">
  <script type="text/x-handlebars">
    {{ view App.CarlinesView }}
  </script>

  <script type="text/javascript">
    $(function() {
      App.CarlinesController.loadAll(<%= @carlines.to_json.html_safe %>);
    });
  </script>
</div>