<div class="grid_12">
  <div id="tabs">
    <ul>
      <li><a href="#engine"><span>1.</span> Motoren</a></li>
      <li><a href="#color"><span>2.</span> Farbkombinationen</a></li>
      <li><a href="#config"><span>3.</span> Sonderausstattung</a></li>
      <li><a href="#total"><span>4.</span> Ihr Wunschfahrzeug</a></li>    
    </ul>
    <div id="engine">
      <%= render 'engine' %>
    </div>
    <div id="color">
      <%= render 'color' %>
    </div>
    <div id="config">
      <%= render 'config' %>
    </div>
    <div id="total">
      <%= render 'total' %>
    </div>  
  </div>
</div>

<div class="grid_4">
<div id="overview">
  <h4>Der Touareg</h4>

  <div id="engine_str">&nbsp;</div>

  <div id="price_str">&nbsp;</div>

  <h4>Außenlackierung</h4>
    <div id="color_str">
      &nbsp;
    </div>
  <h4>Innenausstattung</h4>
    <div id="interior_str">
      &nbsp;
    </div>
  <h4>Sonderausstattung</h4>
    <div id="option_str">
      &nbsp;
    </div>

    <div id="total_str">
      &nbsp;
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#tabs').tabs();

  Vwkonfigurator.appController.calculateRight();
</script>