<div class="grid_12">
  <div id="tabs">
    <ul>
      <li><a href="#engine">1. Motoren</a></li>
      <li><a href="#color">2. Farbkombinationen</a></li>
      <li><a href="#config">3. Sonderausstattung</a></li>
      <li><a href="#total">4. Ihr Wunschfahrzeug</a></li>    
    </ul>
    <div id="engine">
      <%= render 'engine' %>
    </div>
    <div id="color">
      <%= render 'color' %>
    </div>
    <div id="config">
      <%= render 'config' %>
    </div>
    <div id="total">
      <%= render 'total' %>
    </div>  
  </div>
</div>
<div class="grid_4">
  <h4>Total:</h4>
  <p>blah blah blah</p>
  <p>blah blah blah</p>
  <p>blah blah blah</p>
</div>

<script type="text/javascript">
  $('#tabs').tabs();
</script>