<div class="grid_12">
  <div id="tabs">
    <ul>
      <li><a href="#engine"><span>1.</span> Motoren</a></li>
      <li><a href="#color"><span>2.</span> Farbkombinationen</a></li>
      <li><a href="#config"><span>3.</span> Sonderausstattung</a></li>
      <li><a href="#total"><span>4.</span> Ihr Wunschfahrzeug</a></li>    
    </ul>
    <div id="engine">
      <%= render 'engine' %>
    </div>
    <div id="color">
      <%= render 'color' %>
    </div>
    <div id="config">
      <%= render 'config' %>
    </div>
    <div id="total">
      <%= render 'total' %>
    </div>  
  </div>
</div>
<div class="grid_4">
<h4>Der Touareg</h4>
<p>Touareg V6 BlueMotion Technology 3,6 l 206 kW (280 PS) 8-Gang-Automatik (Tiptronic)</p>
<p>51275,00</p>
<h4>Außenlackierung</h4>
  <p><a href="#color">bitte auswählen</a></p>
<h4>Innenausstattung</h4>
  <p><a href="#color">bitte auswählen</a></p>
<h4>Sonderausstattung</h4>
  <p><a href="#config">bitte auswählen</a></p>

</div>

<script type="text/javascript">
  $('#tabs').tabs();
</script>