<div id="model_preview">
  <div class="grid_4">
    <div>
      <h2 id="model-name"></h2>
      <div id="model-description"></div>
      <div id="model-price"></div>
    </div>
  </div>

  <div class="grid_8">
    <div><img id="model-image" src="/assets/empty.gif">&nbsp;</div>
  </div>
  <div class="grid_4">
    <p><a href=""><img src="/assets/arrow_orange.gif">Parkhaus–Fahrzeug laden</a></p>
  </div>
</div>

<div id="model_detail">
  <div class="grid_12">
    <div><img id="model-image-full" src="/assets/empty.gif">&nbsp;</div>
  </div>
  <div class="grid_4">
    <p><a href=""><img src="/assets/arrow_orange.gif">Parkhaus–Fahrzeug laden</a></p>
  </div>  
</div>