<h4> Ihr Wunschfahrzeug  Details   Preis+</h4>
<p>Modell</p>
<p>Touareg V6 BlueMotion Technology 3,6 l 206 kW (280 PS) 8-Gang-Automatik (Tiptronic)   51.275,00 € </p>
<p>Kraftstoffverbrauch kombiniert**:   9,9 l/100km   </p>
<p>CO2-Emissionen kombiniert**:    236 g/km    </p>
<p>Effizienzklasse**:    E</p>

<p>
<img src="/assets/efficiency_E.gif">
</p>