<div class="grid-16">
  <h1>Configurator</h1>
</div>
<hr class="clearfix">

<%= render 'top_canvas' %>

<hr class="clearfix">
<div id="nav-panel">
  <div class="push-12">
    <button>« Cancel</button>
    <button>Select »</button>
  </div>
</div>
<hr class="clearfix">
<div id="form">

</div>
