<div class="grid_16">
  <h2>Konfigurator</h2>
</div>

<div class="clearfix"></div>

<div id="canvas" class="grid_16">
  <%= render 'display_canvas' %>
</div>

<div id="navbar" class="grid_16">
  <div class="grid_4 omega prefix_12">
    <button>« Cancel</button>
    <button>Select »</button>
  </div>
</div>

<div id="form" class="grid_16">
  <%= render 'dashboard_canvas' %>
</div>
