<div id="header">
  <div class="grid_14">
    <h2>Konfigurator</h2>
  </div>
  <div class="grid_2">
    <button id="debug_button">debug</button>
  </div>
</div>

<div class="clearfix"></div>

<div id="canvas" class="grid_block">
  <%= render 'display_canvas' %>
</div>

<div class="clearfix"></div>

<div id="navbar" class="grid_block">
  <div class="grid_2 prefix_12">
    <button id="button_back">« Back</button>
  </div>
  <div class="grid_2">
    <button id="button_forward"> Forward »</button>
  </div>
</div>

<div class="clearfix"></div>

<div id="form" class="grid_block">
  <div class="grid_16">
    <h4>Wählen Sie ein Modell aus der Liste aller Fahrzeuge aus.</h4>
  </div>
  <%= render 'dashboard_canvas', :carlines => @carlines %>
</div>
