<div class="container_16">
  <div class="grid_14">
    <h1>Konfigurator &nbsp;&nbsp;&nbsp;<button id="debug_button">debug mode</button></h1>
  </div>
  <div class="grid_2">
    
  </div>
</div>

<div id="canvas" class="container_16">
  <%= render 'display_canvas' %>
</div>

<div id="navbar" class="container_16">
  <div class="grid_2 prefix_12">
    <button id="button_back" disabled="disabled">« prew</button>
  </div>
  <div class="grid_2">
    <button id="button_forward"> next »</button>
  </div>
</div>

<div id="form" class="container_16">
  <div class="grid_16">
    <h4>Wählen Sie ein Modell aus der Liste aller Fahrzeuge aus.</h4>
  </div>
  <%= render 'dashboard_canvas', :carlines => @carlines %>
</div>
