<div class="grid-16">
  <h1>Configurator</h1>
</div>

<div class="grid-16">
  <div id="canvas">
    <%= render 'top_canvas' %>
  </div>
</div>

<div id="nav-panel">
  <div class="push-12">
    <button>« Cancel</button>
    <button>Select »</button>
  </div>
</div>

<div id="form">

</div>
